/* Shared Styles */

img,
video {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  gap: 1rem;
}

.container {
  max-width: 96rem;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.16);
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem;
}

.card p {
  padding: 2rem;
}

.hero {
  min-height: 100vh;
  background: linear-gradient(0deg, #003aa4, #ee1c1c);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 200%;
  font-family: sans-serif;
  padding: 3rem;
}

.hero > * {
  max-width: 75ch;
}

/* Mobile Only Styles */
@media (max-width: 47.9375em) {
  .flex {
    flex-direction: column;
  }
}

/* Desktop Only Styles */
@media (min-width: 48em) {
  .flex > * {
    width: 100%;
  }
}
